doctype html
html
	head
		title="Strona logowanie"
	body(style={background:"#bbbbbb"})
		div(style={background:"#847f7f", "margin":"50px auto", padding:"100px", width:"200px"})
			include ./header.pug
			input#ala(placeholder="wpisz swoje dane")
			include ./footer.pug
