doctype html
html
	head
		title="I po zalogowaniu"
	body(style={background:"#bbbbbb"})
		div(style=
			{
				"background":"#847f7f", 
				"margin":"50px auto", 
				"padding":"100px", 
				"width":"200px",
				"color": "white",
				"font-size": "1.4em"
			}
		) 
			div Cześć #{your_name}!
				